 body {
    margin: 0;
    background-color:#f5f5f5;
   }

.form{
position:relative;
width:100%;
}
@font-face {
font-family: "OpenSans-Semibold";  
src: url("shrift/OpenSans-Semibold.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal;
 }
@font-face {
font-family: "RobotoCondensed-Bold";  
src: url("shrift/RobotoCondensed-Bold.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal;
 }
 
@font-face {
font-family: "OpenSans-Regular";  
src: url("shrift/OpenSans-Regular.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal;
 } 
 @font-face {
font-family: "Roboto-condensed";  
src: url("shrift/Roboto-condensed.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal;
 }
@font-face {
font-family: "Fontfabric";  
src: url("shrift/Fontfabric.otf") format("truetype"); 
font-style: normal; 
font-weight: normal;
 }
.h1{
font-family:Fontfabric;
color:#ffffff;
font-size:38px;
} 
.h2{
font-family:Fontfabric;
color:#000000;
font-size:38px;
} 
.fon1{
z-index:1;
width:100%;
}
.fon2{
z-index:1;
width:100%;
}
.institute{
width:100%;
position:relative;
margin-top:-22%;
margin-left:3%;
height:160px;
z-index:2;
}

.specialty {
width:100%;
position:relative;
margin-top:-3.6%;
margin-left:42%;
height:50px;
z-index:2;
display:none; 
}
.professors {
width:100%;
position:relative;
margin-top:-0%;
margin-left:28%;
height:50px;
z-index:2;
display:none; 
}
.group{
width:100%;
position:relative;
margin-top:;
margin-left:42%;
height:100px;
z-index:2;
display:none;
}
.select {
   padding-left:29%;
   
}

.faculty{
//width:100%;
position:relative;
margin-top:-2%;
margin-left:32%;
height:50px;
z-index:2;
display:none;
}
.department{
width:13%;
position:relative;
margin-top:2%;
margin-left:28%;
height:50px;
z-index:2;
display:none;
}
.label{
font-size: 14px;
color: #666666;
line-height: 26px;
margin-bottom: 5px;
padding: 0 20px;
}
.datastudent{
    margin-left: 10%;
    margin-top:;
    width: 459px;
    height: 508px;
}
.made{
background:url(img/footer.jpeg);
margin-top:0%;
margin-left:30%;
width:100%;
height:50px;
display:none;
}
.fioinput{
    display: block;
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    height: 68px;
    outline: none;
    font-size: 16px;
    padding: 0 20px;
    width: 100%;
}
.inputnumberstudent{
 display: block;
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    height: 68px;
    outline: none;
    font-size: 16px;
    padding: 0 20px;
    width: 100%;
}
.InputData{
padding-top:4%;
margin-left:25%;
display:none;
}
.titledatastudent{
width:100%;
height:100px;
background-color:#e6e6e6;
font-size: 24px;
margin-top:10%;
display:none;
}
.texttitle2{
color: #666666;
line-height: 26px;
margin-left:35%;
padding-top:3%;
font-weight: bold;
}
.outputdatastudents{
width:100%;
height:100px;
background-color:#e6e6e6;
font-size: 24px;
display:none;
}
.outputds{
margin-top:7%;
width:100%;
height:300px;
}
.strelochka{
margin-top:-34%;
margin-left:23%;
z-index:1;
position:absolute;
display:none;
}
.faculty1:{

}
.faculty2:before{
content:"";
}
.faculty3:before{
content:"";
}
.faculty4:before{
content:"";
}

.marker{
position:absolute;
margin-top:-20%;
margin-left:-15%;
display:none;
}
.knopka02 {
    font-family: RobotoCondensed-Bold;
    display: inline-block;
    width: 50%;
    height: 15%;
    margin-top: 10%;
    margin-left: 20%;
    line-height: 75px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px rgba(255,255,255,.2), 0 -1px rgba(0,0,0,.8);
    outline: none;
    border: none;
    border-radius: 100px;
    background: #eb1932;
    box-shadow: inset rgba(0,0,0,.6) 0 -2px 5px, inset rgba(252,255,255,.7) 0 2px 5px, rgba(0,0,0,.8) 0 2px 5px -1px;
    color: #FFFFFF;
    user-select: none;
}
